*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-families */
  --ff-primary: 'Barlow Condensed';
  --ff-secondary: 'Barlow';
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

.container {
  max-width: 75rem;
  display: flex;
  margin: 0 auto;
}

.header {
  margin-bottom: 4rem;
  padding: 2rem 0;
}

/* 1440px */
@media (min-width: 90em) {
  .header {
    padding: 3rem 0 5rem 0;
  }
}

.header .container {
  justify-content: space-between;
  align-items: center;
}

.header__logo-box {
  margin-left: 2rem;
}

/* 1440px */
@media (min-width: 90em) {
  .header__logo-box {
    margin-left: 0;
  }
}

.header__nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 8rem;
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  z-index: 9998;
  background-color: hsl(207 33% 95%);
  transform: translateX(100%);
  transition: transform 200ms ease-out;
}

.header__nav > li:nth-of-type(4) .header__nav__link:link {
  padding: 1rem 2rem;
  border-radius: 15px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 100%, 68%);
}

/* 1440px */
@media (min-width: 90em) {
  .header__nav {
    display: flex;
    align-items: center;
    transform: none;
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    padding-top: 0;
  }

  .header__nav::after {
    content: '';
    display: block;
    width: 0.4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(231 7% 65% / 0.5);
    order: 4;
  }

  .header__nav > li:nth-child(4) {
    order: 5;
  }

  .header__nav > li:nth-of-type(4) .header__nav__link:link {
    padding: 1rem 0;
    border-radius: 0;
    color: hsl(231 7% 65%);
    background: none;
  }

  .header__nav__link:link,
  .header__nav__link:visited {
    font-size: 1.125rem;
  }
}

.header__nav__link:link,
.header__nav__link:visited {
  padding-block: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: hsl(230 29% 20%);
}

.header__nav__link:hover,
.header__nav__link:active {
  border-bottom: 2px solid hsl(230 29% 20%);
}

.header__nav > li:nth-of-type(4) .header__nav__link:hover,
.header__nav > li:nth-of-type(4) .header__nav__link:active {
  border-color: hsl(231 7% 65%);
}

.header__mobile-toggle {
  display: block;
  position: absolute;
  right: 2rem;
  border: 0;
  background: transparent;
  background-image: url('./images/icon-hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  aspect-ratio: 1;
  z-index: 9999;
}

.header__mobile-toggle[data-nav-expanded='true'] {
  background-image: url('./images/icon-close.svg');
}

.header__mobile-toggle[data-nav-expanded='true'] + nav > .header__nav {
  transform: translateX(0);
}

.header__mobile-toggle:focus-visible {
  outline: 5px solid white;
  outline-offset: 5px;
}

/* 1440px */
@media (min-width: 90em) {
  .header__mobile-toggle {
    display: none;
  }
}

.main .container {
  flex-direction: column;
  gap: 4rem;
}

/* 1440px */
@media (min-width: 90em) {
  .main .container {
    flex-direction: row;
  }
}

.main__text-box {
  order: 2;
  padding: 0 2rem;
}

/* 1440px */
@media (min-width: 90em) {
  .main__text-box {
    padding: 0;
  }
}

.main__subheading {
  margin-bottom: 1.5rem;
  font-size: 1.025rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: hsl(231 7% 65%);
}

.main__subheading::before {
  content: 'NEW';
  display: inline-block;
  margin-right: 1rem;
  padding: 0.3rem 0.8rem;
  border-radius: 100px;
  color: hsl(0 0% 100%);
  background-color: hsl(230 29% 20%);
}

.main__heading {
  margin-bottom: 1.5rem;
  font-size: 2.6rem;
  text-transform: uppercase;
  line-height: 1;
  color: hsl(230 29% 20%);
}

.main__text {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: hsl(230, 11%, 40%);
}

/* 1440px */
@media (min-width: 90em) {
  .main__heading {
    font-size: 3.6rem;
  }

  .main__text {
    margin-bottom: 4rem;
    width: 28ch;
  }
}

.main__cta-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__cta--btn:link,
.main__cta--btn:visited {
  display: inline-block;
  padding: 0.7rem 0.8rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: hsl(207, 33%, 95%);
  background-color: hsl(0 100% 68%);
  transition: background-color 200ms;
}

.main__cta--btn:hover,
.main__cta--btn:active {
  background-color: hsl(0, 100%, 62%);
}

.main__cta--text {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: hsl(231 7% 65%);
}

/* 1440px */
@media (min-width: 90em) {
  .main__cta-box {
    justify-content: start;
    gap: 2rem;
  }

  .main__cta--btn:link,
  .main__cta--btn:visited {
    padding: 1rem 1.4rem;
  }

  .main__cta--text {
    letter-spacing: 3px;
  }
}

.main__img-box {
  order: 1;
}

/* 1440px */
@media (min-width: 90em) {
  .main__img-box {
    order: 2;
  }
}

.main__img {
  max-width: 100%;
  display: block;
  transform: scale(1.35) translate(14.5%, -11%);
}

/* 1440px */
@media (min-width: 90em) {
  .main__img {
    transform: scale(1.85) translate(25%, 14%);
  }
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 54vh;
  border-bottom-left-radius: 80px;
  background-color: hsl(207 33% 95%);
  z-index: -1;
}
